.main-modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgb(0,0,0, .5) ;
    

}
.inner-modal{
    width: 380px;
    height: 200px;
    background-color:white ;
    margin: 150px auto;
    text-align:center ;

}